@{
	ViewData["Title"] = "Contact";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<meta charset="UTF-8">
<title>@ViewData</title>
<div class="row">
	<div class="col-md-6">

	</div>
	<div class="col-md-6">
		<form method="post">
			<div class="form-group row">
				<div class="col-sm-2">
					<label for="email" class="col-form-label">email</label>
				</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="email" name="email" />
				</div>

			</div>
			<div class="row form-group">
				<div class="col-sm-2">
					<label for="name" class="col-form-label">name</label>
				</div>
				<div class="col-sm-10">

					<input type="text" class="form-control" id="name" name="name" />


				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-2">
					<label for="title" class="col-form-label">title</label>
				</div>
				<div class="col-sm-10">

					<input type="text" class="form-control" id="title" name="title" />


				</div>
			</div>
			<div class="row form-group">
				<label for="content" class="col-sm-12 col-form-label text-center"><h4>content</h1></label>
				<textarea name="content" id="content" rows="10" class="col-sm-12 form-control"></textarea>
			</div>

			<button id="submit" class="btn btn-danger	 float-right" disabled>submit</button>

		</form>

	</div>
</div>


@{
	if (SignInManager.IsSignedIn(User))
	{
		var user = await UserManager.GetUserAsync(User);
		<script>
			var email ="@user.Email";
			var name="@user.UserName";
			$("#email").val(email);
			$("#email").attr("readonly", true);

			$("#name").val(name);
			$("#name").attr("readonly", true);
			$("#submit").attr("disabled", false);
			$("#submit").removeClass("btn-danger");
			$("#submit").addClass("btn-primary");
		</script>
	}

}